<div id="dv">

    <form id="form" (submit)="signin()">

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" name="email" [(ngModel)]="user.email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" name="password" [(ngModel)]="user.password" required>
        </mat-form-field>

        <button mat-raised-button id="btn" type="submit">Login</button>
       
    </form>



</div>

